{% load active_link_tags %}
{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == '1' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'hod_home' 'active' %}">
                    <a href="{% url 'hod_home' %}"><i class="fa fas-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_student' %}">Add Student</a></li>
                        <li><a href="{% url 'view_student' %}">View Student </a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'mark_attendance' 'active' %} {% active_link 'view_attendance' 'active' %} {% active_link 'attendance_summary' 'active' %}">
                    <a href="#"><i class="fas fa-calendar-alt"></i> <span> Attendance</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'mark_attendance' %}">Mark Attendance</a></li>
                        <li><a href="{% url 'view_attendance' %}">View Attendance </a></li>
                        <li><a href="{% url 'attendance_summary' %}"> Attendance Summary</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_staff' %}">Staff Add</a></li>
                        <li><a href="{% url 'view_staff' %}">Staff View</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_school' 'active' %} {% active_link 'view_school' 'active' %}">
                    <a href="#"><i class="fa fa-graduation-cap"></i> <span> School</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_school' %}">Add School </a></li>
                        <li><a href="{% url 'view_school' %}"> View School</a></li>
                    </ul>
                </li>
                    {% comment %} 

                <li class="submenu {% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
                    <a><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                        <li><a href="{% url 'view_subject' %}">View Subject </a></li>
                    </ul> 
                    
                </li>
                {% endcomment %}
                <li class="submenu {% active_link 'add_session' 'active' %} {% active_link 'view_session' 'active' %}">
                    <a><i class="fas fa-clock"></i> <span> Session</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_session' %}">Add Session</a></li>
                        <li><a href="{% url 'view_session' %}">View Session</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'fee_list' 'active' %} {% active_link 'view_due_fees' 'active' %}">
                    <a href="#"><i class="fas fa-money-bill-alt"></i> <span> Fees</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'fee_list' %}">View Fees</a></li>
                        <li><a href="{% url 'view_due_fees' %}">View Due Fees</a></li>
                    </ul>
                </li>
                <li class="{% active_link 'logout' 'active' %}">
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
            {% elif user.user_type == '2' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'notification' 'active' %}">
                    <a href="{% url 'notification' %}"><i class="fas fa-bell"></i> <span>Notification</span></a>
                </li>
                <li class="{% active_link 'logout' 'active' %}">
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_home' 'active' %}">
                    <a href="{% url 'student_home' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="{% active_link 'student_notification' 'active' %}">
                    <a href="{% url 'student_notification' %}"><i class="fas fa-bell"></i> <span>Notification</span></a>
                </li>
                <li class="{% active_link 'logout' 'active' %}">
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>